<header>
        <div class="cabecera" id="home">
            <h1><a id="logo" href="../index.html">TastyTae</a></h1>
        </div>
    </header>
    <div class="banner">
        <img src="../imagenes/alcohol.jpg" alt="Banner" />
        <div class="texto-banner">
            <h2>¡Compra tus productos de manera rápida y efectiva!</h2>
        </div>
    </div>
    <a class="btn-carrito" href="../app/carrito.php">
        <span class="icon-car" id="btn-carro"></span>
    </a>
    <a class="btn-inicio" href="#home">
        <span class="icon-circle-up"></span>
    </a>
    <main>
        <section class="compras">
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/dorado.png" alt="Producto">
                <p>RON DORADO</p>
                <p>Ron Medellin Dorado x750ml</p>
                <p>$41.900</p>
                <p>Cantidad:<input class="cantidad" id="ron" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-ron">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/chivas.png" alt="Producto">
                <p>CHIVAS</p>
                <p>Whisky Chivas Regal 12 años x750ml</p>
                <p>$107.900</p>
                <p>Cantidad:<input class="cantidad" id="chivas" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-chivas">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/selloNegro.png" alt="Producto">
                <p>BLACK LABEL</p>
                <p>Whisky Johnnie Walker sello negro x750ml</p>
                <p>$110.500</p>
                <p>Cantidad:<input class="cantidad" id="walker-negro" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-walkerN">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/sellloRojo.png" alt="Producto">
                <p>RED LABEL</p>
                <p>Whisky Johnnie Walker sello rojo x750ml</p>
                <p>$55.200</p>
                <p>Cantidad:<input class="cantidad" id="walker-rojo" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-walkerR">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/byn.png" alt="Producto">
                <p>BLACK & WHITE</p>
                <p>Whisky de la casa Buchanan's x750ml</p>
                <p>$39.900</p>
                <p>Cantidad:<input class="cantidad" id="buchanan" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-buchanan">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/nectar.png" alt="Producto">
                <p>NECTAR VERDE</p>
                <p>Nectar club Verde sin azucar x1000ml</p>
                <p>$36.500</p>
                <p>Cantidad:<input class="cantidad" id="nectar" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-nectar">Añadir al carrito</button>
            </div>
        </section>
    </main>
    <footer id="foot">
        <h2>¡Síguenos en nuestras redes sociales!</h2>
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
        <span class="icon-google"></span>
        <p>&copy;TastyCorp todos los derechos reservados</p>
    </footer>
    <script src="../js/comprarAlcohol.js"></script>