<header>
        <div class="cabecera" id="home">
            <h1><a id="logo" href="/">TastyTae</a></h1>
        </div>
    </header>
    <div class="banner">
        <img src="../imagenes/alimentos.jpg" alt="Banner" />
        <div class="texto-banner">
            <h2>¡Compra tus productos de manera rápida y efectiva!</h2>
        </div>
    </div>
    <a class="btn-carrito" href="../app/carrito.php">
        <span class="icon-car" id="btn-carro"></span>
    </a>
    <a class="btn-inicio" href="#home">
        <span class="icon-circle-up"></span>
    </a>
    <main>
        <section class="compras">
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/hamburguesa.png" alt="Producto">
                <p>HAMBURGUESA</p>
                <p>Nuestra "anvorguesa" llega directamente desde el fondo de bikini</p>
                <p>$8.500</p>
                <p>Cantidad:<input class="cantidad" id="hamburguesa" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-hamburguesa">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/pizza.png" alt="Producto">
                <p>PIZZA</p>
                <p>Excelente pizza de pepperoni hechas por marcelo</p>
                <p>$4.500(porcion)</p>
                <p>Cantidad:<input class="cantidad" id="pizza" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-pizza">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/burrito.png" alt="Producto">
                <p>BURRITO</p>
                <p>Con este burrito puedes llegar a Belén de un solo bocado</p>
                <p>$7.000</p>
                <p>Cantidad:<input class="cantidad" id="burrito" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-burrito">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/polloAsado.png" alt="Producto">
                <p>POLLO</p>
                <p>Hoy follo, mañana fescado con fafitas</p>
                <p>$19.900 (completo)</p>
                <p>Cantidad:<input class="cantidad" id="pollo" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-pollo">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/taco.png" alt="Producto">
                <p>TACO</p>
                <p>¿Qué más quiere saber? ¡Es un taco!</p>
                <p>$6.500</p>
                <p>Cantidad:<input class="cantidad" id="taco" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-taco">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/bandeja.png" alt="Producto">
                <p>BANDEJA PAISA</p>
                <p>El infaltable, un honor tradicional colombiano</p>
                <p>$12.600</p>
                <p>Cantidad:<input class="cantidad" id="bandeja" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-bandeja">Añadir al carrito</button>
            </div>
        </section>
    </main>
    <footer id="foot">
        <h2>¡Síguenos en nuestras redes sociales!</h2>
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
        <span class="icon-google"></span>
        <p>&copy;TastyCorp todos los derechos reservados</p>
    </footer>
    <script src="../js/comprarAlimento.js"></script>