<header>
        <div class="cabecera" id="home">
            <h1><a id="logo" href="../index.html">TastyTae</a></h1>
        </div>
    </header>
    <div class="banner">
        <img src="../imagenes/bebidas.jpg" alt="Banner" />
        <div class="texto-banner">
            <h2>¡Compra tus productos de manera rápida y efectiva!</h2>
        </div>
    </div>
    <a class="btn-carrito" href="../app/carrito.php">
        <span class="icon-car" id="btn-carro"></span>
    </a>
    <a class="btn-inicio" href="#home">
        <span class="icon-circle-up"></span>
    </a>
    <main>
        <section class="compras">
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/coca.png" alt="Producto">
                <p>COCA COLA</p>
                <p>Destapa la Felicidad y la diabetes</p>
                <p>$2.300</p>
                <p>Cantidad:<input class="cantidad" id="coca" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-coca">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/cocaDiet.png" alt="Producto">
                <p>COCA COLA LIGTH</p>
                <p>Destapa la Felicidad y la diabetes con menos sabor</p>
                <p>$2.500</p>
                <p>Cantidad:<input class="cantidad" id="cocaL" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-cocaL">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/pepsi.png" alt="Producto">
                <p>PEPSI</p>
                <p>Lo mismo pero más barata</p>
                <p>$2.100</p>
                <p>Cantidad:<input class="cantidad" id="pepsi" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-pepsi">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/redBull.png" alt="Producto">
                <p>RED BULL</p>
                <p>Red Bull te da aaaaalas</p>
                <p>$6.100</p>
                <p>Cantidad:<input class="cantidad" id="redbull" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-redbull">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/monster.png" alt="Producto">
                <p>MONSTER ENERGY</p>
                <p>Monster pa que saques la bestia que llevas adentro</p>
                <p>$5.900</p>
                <p>Cantidad:<input class="cantidad" id="monster" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-monster">Añadir al carrito</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/soda.png" alt="Producto">
                <p>SODA</p>
                <p>Tan deliciosa como ser capaz de pronunciar su nombre correctamente</p>
                <p>$2.300</p>
                <p>Cantidad:<input class="cantidad" id="soda" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-soda">Añadir al carrito</button>
            </div>
        </section>
        </main>
        <footer id="foot">
            <h2>¡Síguenos en nuestras redes sociales!</h2>
            <span class="icon-facebook"></span>
            <span class="icon-instagram"></span>
            <span class="icon-google"></span>
            <p>&copy;TastyCorp todos los derechos reservados</p>
        </footer>
        <script src="../js/comprarBebida.js"></script>