<header>
        <div class="cabecera" id="home">
            <h1><a id="logo" href="../index.html">TastyTae</a></h1>
        </div>
    </header>
    <div class="banner">
        <img src="../imagenes/dulces.jpg" alt="Banner" />
        <div class="texto-banner">
            <h2>¡Compra tus productos de manera rápida y efectiva!</h2>
        </div>
    </div>
    <a class="btn-carrito" href="../app/carrito.php">
        <span class="icon-car" id="btn-carro"></span>
    </a>
    <a class="btn-inicio" href="#home">
        <span class="icon-circle-up"></span>
    </a>
    <main>
        <section class="compras">
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/aros.png" alt="Producto">
                <p>AROS</p>
                <p>Gomas con formas de aro, trululu.</p>
                <p>$1.800</p>
                <p>Cantidad:<input class="cantidad" id="aros" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-aros">Comprar</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/gusanos.png" alt="Producto">
                <p>GUSANOS</p>
                <p>Deliciosos gusanos acidos de colores</p>
                <p>$1.800</p>
                <p>Cantidad:<input class="cantidad" id="gusanos" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-gusanos">Comprar</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/pinguinos.png" alt="Producto">
                <p>PINGUINOS</p>
                <p>No tan frios como los del polo sur pero sí deliciosos.</p>
                <p>$1.700</p>
                <p>Cantidad:<input class="cantidad" id="pinguinos" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-pinguinos">Comprar</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/clasicas.png" alt="Producto">
                <p>CLASICAS</p>
                <p>Gomas tradicionales de colores</p>
                <p>$1.600</p>
                <p>Cantidad:<input class="cantidad" id="clasicas" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-clasicas">Comprar</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/tridentFresa.png" alt="Producto">
                <p>TRIDENT FRESA</p>
                <p>Deliciosos chicles con sabor a fresa, 6 unidades</p>
                <p>$1.600</p>
                <p>Cantidad:<input class="cantidad" id="trident" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-trident">Comprar</button>
            </div>
            <div class="div-compra">
                <img class="img-compra" src="../imagenes/tridentMenta.png" alt="Producto">
                <p>TRIDENT MENTA</p>
                <p>6 unidades de chicle mentolado para el aliento</p>
                <p>$1.600</p>
                <p>Cantidad:<input class="cantidad" id="menta" type="number" min="0" max="50" value="0"></p>
                <button class="comprar" id="btn-menta">Comprar</button>
            </div>
        </section>
    </main>
    <footer id="foot">
        <h2>¡Síguenos en nuestras redes sociales!</h2>
        <span class="icon-facebook"></span>
        <span class="icon-instagram"></span>
        <span class="icon-google"></span>
        <p>&copy;TastyCorp todos los derechos reservados</p>
    </footer>
    <script src="../js/comprarDulce.js"></script>