
    <section class="seccion">
        <div class="sesion">
            <h2>Inicia sesion para terminar la compra!</h2>
            <div>
                <form method="POST" action="/inicioSesion">
                    <input type="email" class="input" name="correoSesion" placeholder="Email" required />
                    <input type="password" class="input" name="contraSesion" placeholder="Contraseña" /><br>
                    <input type="submit" class="botones" value="Iniciar" />
                </form>
            </div>
            <p>¿No tienes cuenta? Entonces:</p>
            <a   href="/registroSesion">Registrarse</a>
        </div>
    </section>